body {
  padding-left: 11em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: purple;
  background-color: #E0FAE5 }

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; 
  position: center;
  text-align: center; 
  color: purple  }
